* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    background: lightgray;
    margin: 10px;
}

header {
    margin: 0 0 5px;
    padding: 10px;
}

.seasheell {
    background: seashell;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
}

#img-div {
    padding: 10px;
    margin: auto;
}

#image-caption {
    margin-bottom: 10px;
}

#tribute-info {
    text-align: left;
    padding: 0 20%;
}

@media only screen and (max-width: 600px) {
    #tribute-info {
        text-align: left;
        padding: 0 8%;
    }
}

#tribute-link {
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    text-align: center;
}

footer {
    padding: 10px;
}